<div layout="column" ng-init="showFilterBar = false">

    <md-input-container layout="row" class="md-icon-float md-icon-right md-block" style="margin-bottom: 0px;">
        <md-icon md-svg-src="assets/svg/ic_search_black_24px.svg"></md-icon>
        <input
                type="text"
                ng-blur="showFilterBar = false"
                ng-focus="showFilterBar = true"
                ng-model="search"
                placeholder="Jetzt nach deinem Lieblingsteil suchen...">
        <md-icon style="margin-top:-25px" md-svg-src="assets/svg/ic_filter_list_black_24px.svg"></md-icon>
    </md-input-container>
    <div layout="row" ng-if="showFilterBar" style="border: 1px solid lightgray;">
        <md-content flex layout-padding layout-align="center center">
            <md-list-item ng-click="">
                <img src="assets/img/Jacket%20Filled-50.png" style="width: 36px; height: 36px; margin-right: 16px;"/>

                <p>Jacken</p>
                <md-icon md-svg-src="assets/svg/ic_done_black_24px.svg"></md-icon>
            </md-list-item>
            <md-list-item ng-click="">
                <img src="assets/img/T-Shirt%20Filled-50.png" style="width: 36px; height: 36px; margin-right: 16px;"/>

                <p>Shirts</p>
                <md-icon md-svg-src="assets/svg/ic_done_black_24px.svg"></md-icon>
            </md-list-item>
            <md-list-item ng-click="">
                <img src="assets/img/Shirt-52.png" style="width: 36px; height: 36px; margin-right: 16px;"/>

                <p>Hemden</p>
                <md-icon md-svg-src="assets/svg/ic_done_black_24px.svg"></md-icon>
            </md-list-item>
            <md-list-item ng-click="">
                <img src="assets/img/Jumper%20Filled-50.png" style="width: 36px; height: 36px; margin-right: 16px;"/>

                <p>Pullover</p>
            </md-list-item>
        </md-content>


        <md-content flex>
            <p>Farbe</p>
            <md-divider style="margin: 10px 0px 10px 0px; width: 95%;"></md-divider>

            <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 5px;" ng-cloak>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Rundkragen</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>V-Ausschnitt</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Kapuze</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Kurzarm</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Langarm <md-icon md-svg-src="assets/svg/ic_done_black_24px.svg"></md-icon></span>
                </md-whiteframe>
            </div>

            <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Freizeit</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Sportlich</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Elegant</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" style="margin: 5px;">
                    <span>Business <md-icon md-svg-src="assets/svg/ic_done_black_24px.svg"></md-icon></span>
                </md-whiteframe>
            </div>
        </md-content>
    </div>

    <h2>{{self.category}}</h2>
</div>

<div layout="row">
    <md-card flex="50">
        <div layout="column" style="height: 150px" layout-align="center center">
            <img flex-auto src="assets/amazon/Oberbekleidung/hemd.jpg" style="max-height: 150px;width: 103px"
                 class="md-card-image"/>
        </div>
        <div layout="row">
            <md-card-content layout="row" flex="75" layout-align="start center">
                <md-button ng-click="" class="md-fab md-mini pull-right">
                    <md-icon>lightbulb_outline</md-icon>
                </md-button>
                <h3>Herren Hemd</h3>
            </md-card-content>
            <md-card-content layout="row" flex="25" layout-align="end center">
                <md-button ng-href=""><span class="hide-sm"></span>
                    <md-icon>edit</md-icon>
                </md-button>
            </md-card-content>
        </div>
    </md-card>
    <md-card flex="50">
        <div layout="column" style="height: 150px" layout-align="space-around center">
            <img src="assets/amazon/Oberbekleidung/hemd2.jpg" style="max-height: 150px; width:103px"
                 class="md-card-image"/>
        </div>
        <div layout="row">
            <md-card-content layout="row" flex="75" layout-align="start center">
                <md-button ng-click="" class="md-fab md-mini pull-right">
                    <md-icon>lightbulb_outline</md-icon>
                </md-button>
                <h3>Herren Sakko</h3>
            </md-card-content>
            <md-card-content layout="row" flex="25" layout-align="end center">
                <md-button ng-href=""><span class="hide-sm"></span>
                    <md-icon>edit</md-icon>
                </md-button>
            </md-card-content>
        </div>
    </md-card>
</div>