<!--<div layout="row" ng-repeat="category in self.categories">-->
<!--<a ng-href="#/schublade/{{category.name}}">{{category.name}}</a>-->
<!--</div>-->
<md-content layout="row" layout-wrap>
    <md-card flex="{{category.flex}}"  ng-repeat="category in self.categories">
        <img ng-src="http://lorempixel.com/400/200/fashion/{{($index+1)}}" class="md-card-image"/>
        <div layout="row">
            <md-card-content layout="row" flex layout-align="start center">
                <h2><a  ng-href="#/schublade/{{category.name}}">{{category.name}}</a></h2>
            </md-card-content>
            <md-card-actions layout="row" flex layout-align="end center">
                <md-button class="md-fab md-mini pull-right">
                    <md-icon>add</md-icon>
                </md-button>
            </md-card-actions>
        </div>
    </md-card>
</md-content>
